@page "/"

<PageTitle>Home</PageTitle>

<header>
    <h1 id="home-title" class="page-title">Welcome to the Counter-Strike 2 Config Generator</h1>
</header>

<section class="page-content" aria-labelledby="home-title">
    <p>This tool helps you create personalized configuration files for Counter-Strike 2.</p>

    <p>
        Select an option from the navigation bar to get started.
    </p>

    <p>Once you have configured the settings to your liking, you can download the generated config file.</p>
</section>
