@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Counter-Strike 2 Config Generator</h1>

<p>This tool helps you create personalized configuration files for Counter-Strike 2.</p>

<p>
    Select an option from the navigation bar to get started.
</p>

<p>Once you have configured the settings to your liking, you can download the generated config file.</p>
