@using CSConfigGenerator.Components
@using CSConfigGenerator.Interfaces
@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase
@inject ISchemaService SchemaService
@inject IServiceProvider ServiceProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<ToastContainer />
