@using CSConfigGenerator.Models
@using CSConfigGenerator.ViewModels

<div class="card mb-3 shadow-sm rounded-3">
    <div class="card-header py-2 bg-light rounded-top">
        <h5 class="mb-0">@Section.DisplayName</h5>
    </div>
    <div class="card-body py-2">
        @foreach (var viewModel in SettingViewModels)
        {
            <DynamicInput ViewModel="viewModel" />
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public ConfigSection Section { get; set; } = null!;

    [Parameter, EditorRequired]
    public IReadOnlyList<SettingViewModel> SettingViewModels { get; set; } = null!;
}