@using CSConfigGenerator.Models
@using CSConfigGenerator.Interfaces
@using CSConfigGenerator.ViewModels

<div class="card mb-3 shadow-sm rounded-3">
    <div class="card-header py-2 bg-light rounded-top">
        <h5 class="mb-0">@Section.DisplayName</h5>
    </div>
    <div class="card-body py-2">
        @foreach (var command in Section.Commands.Where(c => !c.UiData.HideFromDefaultView))
        {
            var viewModel = new SettingViewModel(command, ConfigStateService);
            <DynamicInput ViewModel="viewModel" />
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public ConfigSection Section { get; set; } = null!;

    [Parameter, EditorRequired]
    public IConfigStateService ConfigStateService { get; set; }
}