@page "/guides"

<h1 class="display-4">User Guides</h1>

<p class="lead">Welcome to the user guides. Here you can find information on how to use this tool and answers to frequently asked questions.</p>

<div class="list-group">
  <a href="guides/quick-start" class="list-group-item list-group-item-action">
    Quick Start Guide
  </a>
  <a href="guides/faq" class="list-group-item list-group-item-action">
    Frequently Asked Questions
  </a>
</div>
