.config-editor {
    background-color: #252526;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #3a3a3a;
    border-radius: 0.5rem;
    height: 100%;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.config-editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    border-bottom: 2px solid #3a3a3a;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.config-editor-header h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #e2e2e2;
    font-weight: 500;
}

.config-editor-actions {
    display: flex;
    gap: 0.5rem;
}

.config-editor-actions .btn {
    background-color: #333333;
    color: #d4d4d4;
    border-color: #444444;
}

.config-editor-actions .btn:hover {
    background-color: #444444;
    color: #ffffff;
}

.config-editor-textarea {
    font-family: Consolas, monospace;
    font-size: 0.875rem;
    color: #d4d4d4;
    background-color: #1e1e1e;
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
    outline: none;
    padding: 1rem;
    line-height: 1.4;
    white-space: pre;
    overflow: auto; /* Enable scrolling when content overflows */
    resize: none; /* Disable manual resizing */
    flex-grow: 1;
    margin: 0;
}


/* WebKit scrollbar styling */
.config-editor-textarea::-webkit-scrollbar {
    width: 0.5rem; /* Width of the scrollbar */
    background-color: #1e1e1e; /* Background of the scrollbar area */
    display: none; /* Hidden by default */
}

.config-editor-textarea:hover::-webkit-scrollbar {
    display: block; /* Show on hover */
}

.config-editor-textarea::-webkit-scrollbar-track {
    background: #2d2d2d; /* Color of the track */
  border-radius: 10px;
}


.config-editor-textarea::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scroll thumb */
    border-radius: 10px;
}

.config-editor-textarea::-webkit-scrollbar-thumb:hover {
    background: #777; /* Color of the scroll thumb on hover */
}

.config-editor-textarea:focus {
    box-shadow: none;
    border: none;
    background-color: #252526;
}

.config-editor .btn {
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease-in-out;
}

.config-editor .btn:hover {
    transform: scale(1.1);
}

.config-editor .btn .oi {
    margin-right: 0.25rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.refresh-animation {
    animation: spin 0.5s ease-in-out;
}

.sticky {
    position: fixed;
    top: 1rem; /* A bit of margin from the top of the viewport */
    z-index: 1020; /* Ensure it's above other content, bootstrap's navbar is 1030 */
}