@using CSConfigGenerator.Services
@inject ConfigStateService ConfigState
@implements IDisposable
<div class="config-editor">
    <h3>Editor</h3>
    <textarea class="form-control config-editor-textarea" 
              rows="15"
              value="@configText"
              @oninput="HandleInput" />
</div>

@code {
    private string configText = string.Empty;

    protected override void OnInitialized()
    {
        configText = ConfigState.GenerateConfigFile();
        ConfigState.OnStateChange += HandleStateChange;
    }

    private void HandleStateChange()
    {
        configText = ConfigState.GenerateConfigFile();
        StateHasChanged();
    }
    private void HandleInput(ChangeEventArgs e)
    {
        configText = e.Value?.ToString() ?? string.Empty;
        ConfigState.ParseAndUpdateState(configText);
    }

    public void Dispose()
    {
        ConfigState.OnStateChange -= HandleStateChange;
    }
}